.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-align: center;
}
